<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My Shift Swaps</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<form th:action="@{/home}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go Home</button>
	</form>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

					<br /><br />
					
					
					<div th:if="${not #lists.isEmpty(myswaps)}">					
						<h2>Your Shift Swaps</h2>
						<table class="table table-striped">
							<tr>
								<th>Shift Date</th>
								<th>Shift Start</th>
								<th>Shift Finish</th>
								<th>Shift Note</th>
								<th>Swap Date</th>
								<th>Swap Start</th>
								<th>Swap Finish</th>
								<th>Swap Note</th>
								<th></th>
							</tr>
							<tr th:each="myswap : ${myswaps}">
								<td th:text="${myswap.Date}"></td>
								<td th:text="${myswap.StartTime}"></td>
								<td th:text="${myswap.FinishTime}"></td>
								<td th:text="${myswap.note}"></td>
								<td th:text="${myswap != null ? myswap.swapDate : 'NOT FOUND'}"/>
								<td th:text="${myswap != null ? myswap.swapStartTime : 'NOT FOUND'}"/>
								<td th:text="${myswap != null ? myswap.swapFinishTime : 'NOT FOUND'}"/>
								<td th:text="${myswap != null ? myswap.swapNote : 'NOT FOUND'}"/>																																	
								<td><a th:href="@{/confirmswap(id=${myswap.id})}">Confirm</a></td>
							</tr>
						
						</table>
					</div>		
					<div th:if="${#lists.isEmpty(myswaps)}">
					<h2><strong>YOU HAVE NO OPEN SWAPS</strong></h2>
					</div>					
								
			</div>
		</div>
	</div>

</body>
</html>