<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>View Available Shift Swaps</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<form th:action="@{/home}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go Home</button>
	</form>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

					<br /><br />
					<div th:if="${not #lists.isEmpty(viewswaps)}">
						<h2>Shift Swaps</h2>
						<h4>(You can only accept swaps which are still available)</h4>
						<table class="table table-striped">
							<tr>
								<th>Date</th>
								<th>Start</th>
								<th>Finish</th>
								<th>Note</th>
								<th>Email</th>
								<th></th>
							</tr>
							<tr th:each="viewswap : ${viewswaps}">
								<td th:text="${viewswap.Date}"></td>
								<td th:text="${viewswap.StartTime}"></td>
								<td th:text="${viewswap.FinishTime}"></td>
								<td th:text="${viewswap.note}"></td>
								<td th:text="${viewswap.email}"></td>
								<td th:if="${viewswap.swapStartTime == null}">
									<a th:href="@{/acceptswap(id=${viewswap.id})}">Accept</a>
								</td>
							</tr>
						
						</table>
					</div>					
			</div>
		</div>
	</div>

</body>
</html>